<!DOCTYPE html>
<html>
  <head>
    <title>We Love Sousse</title>
  </head>
  <body>
    <ul class="topnav">
      <li><a class="active" href="https://jamaity.org/association/we-love-sousse/">Who is us?</a></li>
      <li><a href="https://www.acted.org/fr/partenaires/we-love-sousse/">Our mission</a></li>
      <li><a href="https://www.annalindhfoundation.org/members/we-love-sousse">Contact</a></li>
      <li><a href="https://youngverifiedleaders.org/fr/we-love-sousse/">Members</a></li>
      <li class="right"><a href="https://www.facebook.com/welovesousse/?locale=fr_FR">Facebook account</a></li>
      
    </ul><br>
    <div>
      <img [src]="url2" alt="We Love Sousse">
    </div>
    <p style="font-weight: bold" > You can check our Facebook Profile to see our last activities</p>

    <div>
      <img [src]="url" alt="We Love Sousse">
    </div>
    <br>

    <small class="float-right btextual" [routerLink]="['/question']" >Please click here if u have any question  </small>

  </body>
</html>
